*{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI";
}

.contenedor-section{
    margin: 0 4em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.contenedor-header{
    display: grid;
    grid-template-columns: 1fr 0.75fr;
}

.contenedor-titulo{
    display: flex;
    align-items: center;
    text-align: center;
}

.contenedor-btn{
    display: flex;
    justify-content: end;
    gap: 1em;
}

.contenedor-input{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: start;
}

.contenedor-input input, .contenedor-input select{
    padding: 1em;
}

textarea{
    resize: none;
    width: 100%;
    padding: 1em;
}

.titulo{
    color: white;
    text-align: center;
}
/*----------------------------------------------------------------------------------------------
------------------------------------------- BOTONES --------------------------------------------
-----------------------------------------------------------------------------------------------*/
.btn{
    display: block;
    padding: 1em;
    border: none;
    font-size: 1em;
    border-radius: 5em;
    cursor: pointer;
    text-decoration: none;
}

.btn-green{
    color: #0C7F0C;
    background-color: white;
    border: #0C7F0C solid 2px;
}

.btn-green:hover{
    color: white;
    background-color: #0C7F0C;
    border: #0C7F0C solid 2px;
}

.btn-red{
    color: #BF2604;
    background-color: white;
    border: #BF2604 solid 2px;
}

.btn-red:hover{
    color: white;
    background-color: #BF2604;
    border: #BF2604 solid 2px;
}

.btn-azul{
    color: #5E44FC;
    background-color: white;
    border: #5E44FC solid 2px;
}

.btn-azul:hover{
    color: white;
    background-color: #5E44FC;
    border: #5E44FC solid 2px;
}

.btn a{
    display: block;
    color: white;
    text-decoration: none;
    background-color: #6343e4;
    padding: 0.5em;
}

.btn-2{
    display: block;
    color: white;
    text-decoration: none;
    background-color: #6343e4;
    padding: 1em;
}