@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a{
    font-family: inherit;
    text-decoration: none;

}
.div-2{
    width: 100%;
    height: 100vh;
    background-color: #1f2128;
    font-family: 'Josefin Sans', sans-serif;

}
.div-2 .body-margin{
    height: 100%;
    margin-left: 75px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.hello{
    display: flex;
    width: 100%;
    background-color: #252830;
    color: white;
}
.hello .icon{
    font-size: 4em;
    padding: 1.2em;
}
.hello .data{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.moreInfo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.user_info{
    background-color: #252830;
    padding: 1.2em;
    color: white;
}
ul{
    list-style: none;
}
.her{
    color: white;
    padding: 1.2em;
    width: 100%;
}
.options{
    height: 100%;
    width: 100%;
    gap: 2em;
    padding:1.2em;
    display: flex;
    flex-direction: column;
}
.options-m{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 1.2em;
}
.moreInfo>div{
    height: 100%;
}
.herramientas{
    grid-column: span 1;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));

}
.grid-4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.option{
    width: 70%;
    display: block;
    margin:  0 auto;
}
.options-m .option a{
    background-color: #252830;
    height: min-content;
    padding: 1.2em;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    grid-column: span 1;
}
.options .option a{
    background-color: #6343e4;
    height: min-content;
    padding: 1.2em;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.option a span{
    font-size:3em;
}
.menu-dash{
    grid-column: span 3;
    gap: 1.2em;
}
.option a h2{
    width: 100%;
    text-align: left;
}

@media (max-width: 900px) {
    .div-2 .body-margin{
        margin-left: 0;
    }
    .moreInfo{
        flex-direction: column;
        overflow-y: scroll;
    }
    .option{
        grid-column: span 2;
    }
    .grid-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .grid-4{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .herramientas{
        grid-column: span 4;
    }
    
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #252830;
    border-radius: 10px;
}