*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
.div-2{
    width: 100%;
    height: 100vh;
    background-color: #1f2128;
    font-family: 'Josefin Sans', sans-serif;

}
.div-2 .body-margin{
    height: 100%;
    margin-left: 75px;
    padding: 1.5em;
    display: flex;
    gap: 1.3em;
    justify-content: start;
    align-items: center;
    flex-direction: column-reverse;
}
.body-margin .body-div{
    display: flex;
    flex-direction: column;
    color: white;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
.body-div .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2.5em;
    font-size: 1.2em;
    font-weight: 500;
    background-color: #252830;
}
.body-div .options ul{
    display: flex;
    width: 40%;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    gap: 2em;

}
.body-div .options ul li{
    flex: 1;
    text-align: center;
    cursor: pointer;
}
.info{
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.info .input{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}
.input input{
    outline: none;
    background-color: #252830;
    border: none;
    padding: 0.5em;
    font-size: 17px;
    color: white;
}

#btn-form{
    display:none ;
    width: 59%;
    color: white;
    text-decoration: none;
    background-color: #6343e4;
    padding: 1em;
    border: none;
    outline: none;
    margin: 0 auto;
    transition: 0.5s display linear;
}
.select{
    display: none;
}

.notification{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.563);
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification .noti{
    background-color: white;
    padding: 3em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.noti .header{
    font-size: 2.4em;
    text-align: center;
}
.noti .body{
    font-size: 1.4em;
    text-align: center;
}
.noti .options-not ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
.noti .options-not ul li{
    flex: 1;
    text-align: center;
    padding: 1em;
    font: 17px;
    cursor: pointer;
}
.opt-cancel{
    color: white;
    background-color: red;
}
.opt-confirm{
    color: white;
    background-color: green;
}

.option-salir{
    width: 100%;
    height: 100%;
    background-color: red;
    padding: 1em;
    color: white;
}


.selects{
    display: flex;
    gap: 1em;
    justify-content: space-between;
}
.selects .input{
    display: flex;
    flex: 1;
    flex-direction: column;
}


.input select , .input input{
    padding: 0.7em;
    font-size: 17px;
    width: 100%;
    background-color: #252830;
    outline: none;
    border: none;
    color: white;
}
@media (max-width: 910px){
    .div-2 .body-margin{
        margin-left: 0;
    }
    .selects{
        display: flex;
        flex-direction: column;
    }
    .div-2{
        height: 100%;
    }
}
@media (max-width: 600px){
    .body-div .options ul {
        display: flex;
        width: 40%;
        flex-direction: column;
        list-style: none;
        justify-content: flex-end;
        gap: 1em;
        align-items: center;
        justify-content: flex-start;
    }
    .body-div .options {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        justify-content: center;
        padding: 1em 2.5em;
        font-size: 1.2em;
        font-weight: 500;
        background-color: #252830;
        align-items: center;
        gap: 1em;
    }
}